.App {
  background-color: #f1f1f1;
  padding: 20px;


  .buttonGroup {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    button {
      padding: 8px;
      border: 1px solid #ccc;
      margin: 5px;
      border-radius: 4px;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: #333;
        color: #fff;
      }

      &.active {
        background-color: #333;
        color: #fff;
      }
    }

  }
}

.ProductList {
  background-color: #fff;
  min-height: 20vh;
  padding: 10px;
}

body {
  padding: 0;
}

.gridProductList {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (min-width: 1440px) {
  body {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .gridProductList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .gridProductList {
    grid-template-columns: repeat(2, 1fr);
  }
}